
@{
    ViewBag.Title = "Fundme";
    Layout = "~/Views/Shared/_Pro.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3" style="color: darkcyan">Funding you're account</h1>
        <p>Funding your account begins the cycle for the account.To fund you're account, Send the amount specified below to the bitcoin address under it:</p>
        <form class="form form-signup" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Address Name" value="0.01" />
                </div>
            </div>

            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    <input  type="Text" class="form-control" placeholder="Address" value="ba333f41-15c5-46e3-8728-9c435647e275" />
                </div>
            </div>
        </form>
        <p>Note:<i style="color:orange;text-decoration-color:orangered"> Bitcoin operations take a while to register. The accounts should be reconciled in 24 hours</i></p>
        <p>Once you're account has been funded, you will receive an email notification. You will then be designated a rank which will grow depending on the number of seeds you receive from new individuals joining the program </p>
    </div>
</div>
