@{
    ViewBag.Title = "Subaccounts";
    Layout = "~/Views/Shared/_Pro.cshtml";

}

<div class="row" style="margin-top:10px">
    <li class="list-group-item">
        <h4 style="color:orange">Account(s):</h4>
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Account</th>
                    <th>Amount Accrued</th>
                    <th>Operation date</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>01</td>
                    <td>0.00001</td>
                    <td>Mon Jan 12 17:43:13 MSK 2014</td>

                </tr>
                <tr>

                    <td>Temp</td>
                    <td>0.000101</td>
                    <td>Mon Jan 12 17:43:13 MSK 2014</td>

                </tr>
            </tbody>
        </table>
    </li>
</div>
