@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Pro.cshtml";
}

<div class="row" style="margin-top:10px">
    <li class="list-group-item">
        <h4 style="color:orange">Pending Payout(s):</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Operation date</th>
                    <th>Description</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wed Nov 12 17:43:13 MSK 2014</td>
                    <td>Payout on the: Wed Oct 12 </td>
                    <td>0.0025</td>

                </tr>
                <tr>
                    <td>Wed Nov 12 17:43:13 MSK 2014</td>
                    <td>Payout on the: Wed Nov 12 </td>
                    <td>0.0125</td>

                </tr>
            </tbody>
        </table>
    </li>
</div>

<div class="row" style="margin-top:10px">
    <li class="list-group-item">
        <h4 style="color:orange">History:</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Operation date</th>
                    <th>Description</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mon Jan 12 17:43:13 MSK 2014</td>
                    <td>Unspecified Transaction </td>
                    <td>0.1</td>

                </tr>
            </tbody>
        </table>
    </li>
</div>

